# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Mac system files
.DS_Store

# VSCode settings
.vscode/

# Python environment files
.env

# Temporary files
*.log
*.tmp

# Plotly temp files
*.html~